{% extends 'form_base.html' %}

{% block form_content %}
    <h2>Задание со схемой</h2>
    <h3>{{ task.title }}</h3>
    <p>Вопрос: {{ task.question }}</p>
    <div class="form-group">
        <label>Ваш ответ:</label>
        <input value="" class="form-control" id="answer">
    </div>
    <button id="confirm" class="btn btn-success">Сдать</button>
    <script>
        $('#confirm').on('click', function () {
            $.ajax({
                url: '/api/submit_answer',
                method: 'POST',
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify({
                    "estimation": {{ task.id }},
                    "choice": $('#answer').val(),
                }),
                success: data => {
                    window.location.href = '/tasks';
                },
                error: data => {
                    alert(data)
                }
            })
        })
    </script>
{% endblock %}