{% extends 'form_base.html' %}
{% block form_content %}
    <h2>Добро пожаловать!</h2>
    {% if current_user.is_student %}
        <p>
            Вы находитесь на платформе по обучению космонавтов в роли обучаемого.
            Вам доступно редактирование профиля и выполнение заданий
        </p>
    {% else %}
        <p>
            Вы находитесь на платформе по обучению космонавтов в роли наставника. Сверху есть две ссылки.
            "Студенты" отправит вас на страницу со всеми вашими активными студентами, а
            "Задания" - на страницу с заданиями для них. Внимательно изучите их и поймите насколько это удобно!
        </p>
    {% endif %}


{% endblock %}